* {
    box-sizing: border-box; 
    margin: 0;
  }
  
  body {
    display: flex;
    margin: 8px;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
  }
  
  
  h1 {
    background-color: rgb(118, 192, 78);
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none; 
         
  }
  
  
  input, button {
    border: 3px solid rgb(150, 198, 125);
    height: 50px;
    text-transform: uppercase;
  }
  
  input {
    width: 65%;
  }
  
  button {
    background-color: white;
    margin-right: 0;
    font-weight: 700;
    width: 30%;
    margin-left: 10px;
    margin: 30px;
    color: rgb(150, 198, 125);
  }